* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: monospace, Verdana, Geneva, sans-serif;
    user-select: none;
}

/* Layout */
.main-container {
    position: absolute;
    min-height: 100vh;
    width: 100%;
}

.content-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 80px auto 0;
    width: 100%;
    max-width: 1600px;
}

.page-wrap {
    padding-bottom: 2rem;
}

/* Logo */

.logo {
    display: inline-block;
    position: fixed;
    top: 3%;
    left: 3%;
    max-width: 15%;
    height: auto;
    z-index: 1;
}

.logo img {
    max-width: 25%;
    min-width: 50px;
    height: auto;
}

/* Navigation */

.navigation-panel {
    position: fixed;
    top: 0;
    display: inline-block;
    width: 100%;
    padding: 1rem;
    height: 80px;
    background-color: white;
    overflow: hidden;
    z-index: 2;
}

.navigation-menu {
    float: right;
    left: 60%;
}

.navigation-menu ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0.3em;
}

.navigation-menu li {
    margin: 0 0.7em;
}

.navigation-menu a {
    text-decoration: none;
    color: black;
    padding: 0.7em;
    font-size: 1.05rem;
}

.navigation-menu a:hover {
    background-color: black;
    color: white;
    transition: color 0.2s, background-color 1.5s;
}

.navigation-menu a.active {
    background-color: black;
    color: white;
}

.navigation-pop-up {
    position: absolute;
    right: 3%;
}

label.navigation-pop-up  {
    font-size: 2.2em;
    display: none;
}

#toggle {
    display: none;
}

@media (max-width: 675px) {

    label.navigation-pop-up{
        display: block;
        cursor: pointer;
        z-index: 1;
    }

    .navigation-menu {
        position: relative;
        left: 2.5%;
        width: 100%;
        margin-top: 3.5rem;
        display: none;
    }

    .navigation-menu a {
        font-size: 1.1rem;
    }

    .navigation-menu ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    .navigation-menu li:first-child {
        margin: 0 0 1rem 0;
    }

    .navigation-menu li:not(:first-child):not(:last-child)  {
        margin: 1rem 0 1rem 0;
    }

    .navigation-menu li:last-child {
        margin: 1rem 0 0 0;
    }

    #toggle:checked + .navigation-menu {
        display: block;
    }
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    height: 2rem;
    padding: 0.5rem
}

.copyright {
    display: block;
    font-size: 0.7rem;
}

#btnScrollToTop {
    position: fixed;
    right: 1em;
    bottom: 1em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    box-shadow: 0 0 10px rbga(0, 0, 0, 0.25);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

#btnScrollToTop:active {
    background: rgb(60, 60, 60);
}

