/* Content */

.content {
    text-align: center;
    min-width: 200px;
    padding: 3rem;
    max-width: 100%;
}

@media (max-width: 675px) {
    .content {
        padding-top: 10vmin;
    }
}

.images img {
    object-fit: cover;
    object-position: 50% 0;
    width: 360px;
    height: 360px;
    filter: grayscale(100%);
}

.images img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.07);
    transition: 1s;
    filter: contrast(100%);
}

.images .image {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 300px;
    height: 300px;
    margin-left: -0.3rem;
}

.image-description {
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    color: white;
    font-size: 1.7rem;
}

.image:hover .image-description {
    opacity: 1;
    visibility: visible;
    transition: opacity 1.2s, visibility 1s;
}

@media (max-width: 675px) {
    .images img {
        width: 200px;
        height: 200px;
    }

    .image {
        width: 200px;
        height: 200px;
    }
}

#project-1 {
    object-position: 10% -15px;
}

@media (max-width: 675px) {
    #project-1 {
        width: 260px;
        height: 260px;
    }
}

#project-2 {
    object-position: 43% 0;
}

#project-3 {
    object-position: 61% 0;
}

#project-4 {
    object-position: 25% 0;
    width: 300px;
    height: 300px;
}

#project-5 {
    object-position: 60% 0;
    width: 300px;
    height: 300px;
}

#project-6 {
    object-position: 55% 0;
    width: 310px;
    height: 310px;
}

#project-7 {
    object-position: 50% 0;
    width: 300px;
    height: 300px;
}

#project-8 {
    object-position: 0 100%;
    width: 300px;
    height: 300px;
}
